<h1><%= title %></h1>
<p>Welcome to <em>Your Items</em>, Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dignissimos, ab assumenda? Quas, excepturi cum. Nam.</p>

<h1>Dynamic content</h1>

<p>These are the items and the categories available in the stock:</p>

<ul>
  <li><strong>Items:</strong> </li>
  <li><strong>Categories:</strong> </li>

</ul>