<h1><%= title %></h1>
<p>Hey, welcome to <em>my luthier tools</em>, here you can see which tools do I have so far in my workshop.</p>
<p>I will add some stuffs, you can add too, but you won't be able to delete or edit anything unless you have the pass 😃</p>