<h1><%= title %></h1>
<p>Hey, welcome to <em>my luthier tools</em>, here you can see which tools do I have so far in my workshop.</p>

<p>Here there is a tiny summary:</p>  

<ul>
  <li><strong>Items:</strong> </li>
  <li><strong>Categories:</strong> </li>

</ul>