<h1><%= title %></h1>
<p>Welcome to <em>Yout luthier materials</em>, here you wil track how many of each tool, accessory and guitar hardware you have in your stock</p>

<p>These are the items and the categories available in the stock:</p>

<ul>
  <li><strong>Items:</strong> </li>
  <li><strong>Categories:</strong> </li>

</ul>