body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  position: relative;
}

ul {
  list-style: none;
}

#bg {
  position: fixed;
  inset: 0;
  height: 100%;
  width: 100%;
  background-image: url(../images/guitar-bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  z-index: -2;
}

#bg::after {
  position: absolute;
  inset: 0;
  content: "";
  background-color: rgba(210, 210, 210, 0.864);
  z-index: -1;
}

a {
  color: #00b7ff;
}

.sidebar a {
  color: #000;
}

.image-item {
  max-height: 150px;
}

/* list items */
.my-flex-ul {
  display: flex;
  gap: 1rem;
}

.my-flex-ul > li {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #fff;
  border: 1px solid #000;
  padding: 1rem;
}

.stock {
  border-radius: 100px;
  padding: 0.125rem 0.5rem;
}
